* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    height: 80px;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
}

h1{
    text-align: center;
}

main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
}

#chocolates {
    margin-bottom: 20px;
}

.chocolate {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    min-width: 400px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: yellow;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.chocolate-img {
    max-width: 120px; 
    max-height: 120px;
    margin-right: 5px; 
}
